<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{fragments/layout}">
<meta charset="UTF-8">
<title>Insert title here</title>

<th:block layout:fragment="content">
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/adminRecipeList.css"/>
<script type="text/javascript" src="/js/adminRecipeList.js"></script>
	<div class="container">

	<h1>레시피 게시판</h1>

	<div class="recipe" >
		<form id=form action="adminRecipeDelete" method="post">
			<table border="1">
				<thead>
					<tr>
						<th scope="col"><input id="allcheck" type="checkbox" name="allCheck"></th>
						<th>레시피명</th>
						<th>내용</th>
						<th>작성일</th>
						<th>작성자</th>
						<th>카테고리</th>
						<th>추천</th>
					</tr>
				</thead>

				<tr th:each="recipe, index : ${selectAll}">
				
					<!-- 체크박스 -->
					<td class="header" width="30">
						<div class="chkclass">
							<input name="id" type="checkbox" id="id" class="id" th:value="${recipe.id}">
						</div>
					</td>
					
					<!-- 레시피명, 내용, 작성일, 작성자, 카테고리, 추천 -->
					<td>
						<input type="text" th:id="name+${index.count}" class="name" name="name" th:value="${recipe.name}" readonly>
					</td>
					
					<td>
						<input type="text" th:id="createDate+${index.count}" class="createDate" name="createDate" th:value="${recipe.createDate}" readonly>
					</td>
					
					<td>
						<input type="text" th:id="recommend+${index.count}" class="recommend" name="recommend" th:value="${recipe.recommend}" readonly>
					</td>		
				</tr>
			</table>
			<div class="button">
			<button id="submitfrm">삭제</button>
		</form>
			<button onclick="location.href='/recipe/new'">등록</button>

	
	</div>
    </div>
    </div>
</th:block>

</html>