<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{fragments/layout}">

<th:block layout:fragment="content">
<div class="container">
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/eaterydetail.js"></script>
	<h3>상세 페이지</h3>

	<table border="1">
		<thead>
			<tr>
				<th>음식점 이름</th>
				<th>카테고리</th>
				<th>지역</th>
				<th>주소</th>
				<th>전화</th>
				<th>음식점 설명</th>
			</tr>

		</thead>

		<tr th:each="eatery : ${selectName}">
			<td id="name" name="name" th:text="${eatery.name}"></td>
			<td id="category" name="category" th:text="${eatery.categoryName}"></td>
			<td id="area" name="area" th:each=" area : ${T(com.eat.vo.Area).values()}"
				th:if="${#strings.toString(eatery.area)}==${#strings.toString(area.name())}"
				th:text="${area.getKrName}"></td>
			<td id="address" name="address" th:text="${eatery.address}"></td>
			<td id="phone" name="phone" th:text="${eatery.phoneNumber}"></td>
			<td id="content" name="content" th:text="${eatery.content}"></td>
		</tr>
		<tr th:each="eatery : ${selectId}">
			<td id="name2" name="name2" th:text="${eatery.name}"></td>
			<td id="category2" name="category2" th:text="${eatery.categoryName}"></td>
			<td id="area2" name="area2" th:each=" area : ${T(com.eat.vo.Area).values()}"
				th:if="${#strings.toString(eatery.area)}==${#strings.toString(area.name())}"
				th:text="${area.getKrName}"></td>
			<td id="address2" name="address2" th:text="${eatery.address}"></td>
			<td id="phone2" name="phone2" th:text="${eatery.phoneNumber}"></td>
			<td id="content2" name="content2" th:text="${eatery.content}"></td>
		</tr>
	</table>
	<br>
	<div>
	<input id="checkid" type="hidden" th:value="${not #strings.isEmpty(checkid)} ? ${checkid}:3" >
	<input id="checkingid" type="hidden" th:value="${not #strings.isEmpty(checkingid)} ? ${checkingid}:3">

	<form id="detailmain" method="get">
		<input th:each="eatery : ${selectName}" name="id" th:value="${eatery.id}" style="display: none" readonly>		
		<input th:each="eatery : ${selectName}" name="name" th:value="${eatery.name}" style="display: none" readonly>		
	</form>
	
	<form id="checkrecommend" action="recommend" method="post">
		<!-- <input>  멤버 id 받는 부분 필요--> 
		<input th:each="eatery : ${selectName}" name="id" th:value="${eatery.id}" style="display: none" readonly>
		<input th:each="eatery : ${selectName}" name="name" th:value="${eatery.name}" style="display: none" readonly>
		<input  name="memberid" th:value="${checkingid}" style="display: none" readonly>
		<input th:each="eatery : ${selectId}" name="id" th:value="${eatery.id}" style="display: none" readonly>
		<input th:each="eatery : ${selectId}" name="name" th:value="${eatery.name}" style="display: none" readonly>
		<input th:each="eatery : ${selectId}" name="memberid" th:value="${eatery.memberId}" style="display: none" readonly>
		<input type="button" id="recommend" class="btn btn-secondary" value="추천"> 
	</form> 
	
	<form id="checkunrecommend" action="unrecommend" method="post">
		<!-- <input>  멤버 id 받는 부분 필요--> 
		<input th:each="eatery : ${selectName}" name="id" th:value="${eatery.id}" style="display: none" readonly>
		<input th:each="eatery : ${selectName}" name="name" th:value="${eatery.name}" style="display: none" readonly>
		<input  name="memberid" th:value="${checkingid}" style="display: none" readonly>
		<input th:each="eatery : ${selectId}" name="id" th:value="${eatery.id}" style="display: none" readonly>
		<input th:each="eatery : ${selectId}" name="name" th:value="${eatery.name}" style="display: none" readonly>
		<input th:each="eatery : ${selectId}" name="memberid" th:value="${eatery.memberId}" style="display: none" readonly>
		<input type="button" id="unrecommend" style="display: none" class="btn btn-secondary" value="추천취소"> 
	</form> 
	<br>
	<form id="checkbookmark" action="bookmark" method="post">
		<!-- <input>  멤버 id 받는 부분 필요--> 
		<input th:each="eatery : ${selectName}" name="id" th:value="${eatery.id}" style="display: none" readonly>
		<input th:each="eatery : ${selectName}" name="name" th:value="${eatery.name}" style="display: none" readonly>
		<input  name="memberid" th:value="${checkingid}" style="display: none" readonly>
		<input th:each="eatery : ${selectId}" name="id" th:value="${eatery.id}" style="display: none" readonly>
		<input th:each="eatery : ${selectId}" name="name" th:value="${eatery.name}" style="display: none" readonly>
		<input th:each="eatery : ${selectId}" name="memberid" th:value="${eatery.memberId}" style="display: none" readonly>
		<input type="button" id="bookmark" class="btn btn-secondary" value="즐겨찾기"> 
	</form> 
	<form id="checkunbookmark" action="unbookmark" method="post">
		<!-- <input>  멤버 id 받는 부분 필요--> 
		<input th:each="eatery : ${selectName}" name="id" th:value="${eatery.id}" style="display: none" readonly>
		<input th:each="eatery : ${selectName}" name="name" th:value="${eatery.name}" style="display: none" readonly>
		<input  name="memberid" th:value="${checkingid}" style="display: none" readonly>
		<input th:each="eatery : ${selectId}" name="id" th:value="${eatery.id}" style="display: none" readonly>
		<input th:each="eatery : ${selectId}" name="name" th:value="${eatery.name}" style="display: none" readonly>
		<input th:each="eatery : ${selectId}" name="memberid" th:value="${eatery.memberId}" style="display: none" readonly>
		<input type="button" id="unbookmark" style="display: none" class="btn btn-secondary" value="즐겨찾기취소"> 
	</form> 

	</div>
	</div>
</th:block>
</html>