<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>맛집 상세 페이지</title>
</head>
<body>

<h3>상세 페이지</h3>

	<table border="1">
		<thead>
			<th>음식점 이름</th>
			<th>카테고리</th>
			<th>지역</th>
			<th>주소</th>
			<th>전화</th>
			<th>음식점 설명</th>
			

		</thead>

		<tr th:each="eatery : ${selectName }">
			<td th:text="${eatery.name}"></td>
			<td th:text="${eatery.categoryName}"></td>
			<td th:each=" area : ${T(com.eat.vo.Area).values()}" th:if="${#strings.toString(eatery.area)}==${#strings.toString(area.name())}" th:text="${area.getKrName}"></td>
			<td th:text="${eatery.address}"></td>
			<td th:text="${eatery.phoneNumber}"></td>
			<td th:text="${eatery.content}"></td>
		</tr>

	</table>
	<div>
		<button>추천</button>
		<button>즐겨찾기</button>
</div>
</body>
</html>