<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
#modal, #modal2 {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: relative;
}

#modal h2, #modal2 h2 {
	margin: 0;
}

#modal button, #modal2 button {
	display: inline-block;
	width: 100px;
	margin-left: calc(100% - 100px - 10px);
}

#modal .modal_content, #modal2 .modal_content {
	width: 300px;
	margin: 100px auto;
	padding: 20px 10px;
	background: #fff;
	border: 2px solid #666;
}

#modal .modal_layer, #modal2 .modal_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: -1;
}
</style>

</head>
<body>
	<h1>식단 리스트</h1>

	<!-- 테이블 시작 -->
	<div>
		<table border="1">
			<thead>
				<tr>
					<th>번호</th>
					<th>날짜</th>
					<th>끼니</th>
					<th>카테고리</th>
					<th>메뉴</th>
				</tr>
			</thead>
			<tr th:each="suggestion, index : ${showDietList}">
				<td th:text="${index.count}"></td>
				<td th:text="${suggestion.date}" id="date"></td>
				<!-- <td  th:text="${suggestion.meal}"></td> -->
				<td th:each=" meal : ${T(com.eat.vo.Meal).values()}" th:if="${#strings.toString(suggestion.meal)}==${#strings.toString(meal.name())}" th:text="${meal.getKrName}"></td>
				<td th:text="${suggestion.categoryName}"></td>
				<td th:text="${suggestion.menu}"></td>
			</tr>
		</table>
		<!-- 테이블 종료 -->
		
		<!-- 테이블버튼 -->
		<button type="button" id="modal_opne_btn" style="font-weight: 900;">등록</button>
		<button type="button" id="updateDiet" style="font-weight: 900;">수정</button>
		<button type="button" id="deleteDiet" style="font-weight: 900;">삭제</button>
		
		
	</div>



	<!-- insert modal 시작 -->
	<div id="modal">
		<div class="modal_content">
				
			<h2>식단 등록</h2>
			<form action="insertDiet" method="post">
				<!-- 날짜 -->
				<label for="date">날짜</label><input id="date" name="date" type="date" value="#strings.toString(date)"> <br> 
				
				<!-- 끼니 -->
				<label>끼니</label>
				<select for="meal" th:name="meal">
					<option th:each=" meal : ${T(com.eat.vo.Meal).values()}" th:text="${meal.getKrName()}" th:value="${meal.name()}"/>
				</select> <br> 
				
				<!-- 카테고리 -->
				<label>카테고리</label> 
				<select for="categoryId" th:name="categoryId">
					<option th:each="category,index : ${categoryList}" th:if="${category.id==index.count}" th:text="${category.name}" id="categoryId" th:value="${category.id}"/>
				</select> <br> 
				
				<!-- 메뉴 -->
				<label for="menu">메 뉴</label><input id="menu" name="menu" type="text"><br>
								
				<!-- 버튼 -->
				<input type="submit"><input type="reset">
				<button type="button" id="modal_close_btn">닫기 창</button>
			</form>
		</div>

		<div class="modal_layer"></div>
		
	</div>
	<!-- insert modal 종료 -->
	
	
	
	<!-- update modal 시작 -->
	<div id="modal2">
		<div class="modal_content">
		
			<h2>식단 수정</h2>
			<form action="updateDiet" method="post">
				<!-- 날짜 -->
				<label for="date">날짜</label><input id="date" name="date" type="date" value="#strings.toString(date)"> <br> 
				
				<!-- 끼니 -->
				<label>끼니</label>
				<select for="meal" th:name="meal">
					<option th:each=" meal : ${T(com.eat.vo.Meal).values()}" th:text="${meal.getKrName()}" th:value="${meal.name()}"/>
				</select> <br> 
				
				<!-- 카테고리 -->
				<label>카테고리</label> 
				<select for="categoryId" th:name="categoryId">
					<option th:each="category,index : ${categoryList}" th:if="${category.id==index.count}" th:text="${category.name}" id="categoryId" th:value="${category.id}"/>
				</select> <br> 
				
				<!-- 메뉴 -->
				<label for="menu">메 뉴</label><input id="menu" name="menu" type="text"><br>
				
				
				<!-- 버튼 -->
				<input type="submit"><input type="reset">
				<button type="button" id="modal_close_btn2">닫기 창</button>
				
				
			</form>
			
			<div class="modal_layer"></div>
			
		</div>
	</div>
	<!-- update modal 종료 -->
	
	
	
	<!-- delete modal 시작 -->
	<div id="modal">
		<div class="modal_content">
		
			<h2>식단 수정</h2>
			<form action="deleteDiet" method="post">
			
			</form>
		</div>
	</div>
	<!-- delete modal 종료 -->



	<!-- 스크립트 -->
	<script type="text/javascript">
		document.getElementById("modal_opne_btn").onclick = function() {
			document.getElementById("modal").style.display = "block";
		}

		document.getElementById("modal_close_btn").onclick = function() {
			document.getElementById("modal").style.display = "none";
		}
		
		document.getElementById("updateDiet").onclick = function() {
			document.getElementById("modal2").style.display = "block";
		}

		document.getElementById("modal_close_btn2").onclick = function() {
			document.getElementById("modal2").style.display = "none";
		}
		
	</script>


</body>

</html>