<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>맛집 메인 페이지</title>

</head>

<body>


	<h3>지역별 맛집</h3>
	<table border="1">
		<tr>
			<th colspan="5">지역</th>
		</tr>
		<tr>

			<td onclick="location.href='#'">강북</td>
			<td onclick="location.href='#'">강남</td>
			<td onclick="location.href='#'">경북</td>
			<td onclick="location.href='#'">경남</td>
			<td onclick="location.href='#'">강원</td>
		</tr>
		<tr>
			<td onclick="location.href='#'">인천</td>
			<td onclick="location.href='#'">충청</td>
			<td onclick="location.href='#'">대전</td>
			<td onclick="location.href='#'">대구</td>
			<td onclick="location.href='#'">울산</td>
		</tr>
		<tr>
			<td onclick="location.href='#'">전라</td>
			<td onclick="location.href='#'">광주</td>
			<td onclick="location.href='#'">부산</td>
			<td onclick="location.href='#'">경상</td>
			<td onclick="location.href='#'">제주</td>
		</tr>
	</table>


	<h3>메뉴별 맛집</h3>

	<table border="1">
		<tr>
			<th colspan="3">메뉴</th>
		</tr>
		<tr>
			<td onclick="location.href='#'">한식</td>
			<td onclick="location.href='#'">중식</td>
			<td onclick="location.href='#'">일식</td>
		</tr>
		<tr>
			<td onclick="location.href='#'">양식</td>
			<td onclick="location.href='#'">분식</td>
			<td onclick="location.href='#'">패스트푸드</td>
		</tr>
		<tr>
			<td onclick="location.href='#'">베이커리</td>
			<td onclick="location.href='#'">치킨</td>
			<td onclick="location.href='#'">기타</td>
		</tr>
	</table>
	<br>
	<h3>신규 맛집</h3>

	<table border="1">
		<thead>

			<th>음식점 이름</th>
			<th>지역</th>
			<th>추천수</th>
		</thead>

		<tr th:each="eatery : ${selectAll}">
			<td th:text="${eatery.name}"></td>
			<td th:each=" area : ${T(com.eat.vo.Area).values()}"
				th:if="${#strings.toString(eatery.area)}==${#strings.toString(area.name())}"
				th:text="${area.getKrName}"></td>
			<td th:text="${eatery.recommend}"></td>
		</tr>
		<tr th:each="eatery : ${LatestEateryList}">
			<td th:text="${eatery.name}"></td>
			<td th:each=" area : ${T(com.eat.vo.Area).values()}"
				th:if="${#strings.toString(eatery.area)}==${#strings.toString(area.name())}"
				th:text="${area.getKrName}"></td>
			<td th:text="${eatery.recommend}"></td>
		</tr>
		<tr th:each="eatery : ${RecommendEateryList}">
			<td th:text="${eatery.name}"></td>
			<td th:each=" area : ${T(com.eat.vo.Area).values()}"
				th:if="${#strings.toString(eatery.area)}==${#strings.toString(area.name())}"
				th:text="${area.getKrName}"></td>
			<td th:text="${eatery.recommend}"></td>
		</tr>
	</table>
	<form action="selectEateryList" method="Post" id="select">
		<select name="checking" form="select" onchange="this.form.submit()">
			<option>==선택==</option>
			<option value="추천순">추천순</option>
			<option value="최신순">최신순</option>
		</select>
	</form>

</body>
</html>