<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>list</title>
</head>
<body>
	<table border="1">
		<thead>
			<th>음식점 이름</th>
			<th>지역</th>
			<th>음식점 설명</th>
			<th>카테고리</th>

		</thead>

		<tr th:each="eatery : ${selectAll }">
			<td th:text="${eatery.name}"></td>
			<td th:each=" area : ${T(com.eat.vo.Area).values()}" th:if="${#strings.toString(eatery.area)}==${#strings.toString(area.name())}" th:text="${area.getKrName}"></td>
			<td th:text="${eatery.content}"></td>
			<td th:text="${eatery.categoryName}"></td>
		</tr>

	</table>
</body>
</html>