<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{fragments/layout}">
<meta charset="UTF-8">
<title>Bookmark List</title>

	<th:block layout:fragment="content">
    <div class="container">
	<link rel="stylesheet" type="text/css" href="/css/favorite.css"/>
   
	<div id="eateryContent">
		<h1>EateryBookmark List</h1>
	<div class="eatery">
		<table border="1">
		<thead>
		<tr>
			<th>음식점 이름</th>
			<th>카테고리</th>
			<th>지역</th>
			<th>주소</th>
			<th>전화</th>
			<th>음식점 설명</th>
		</tr>
		</thead>

		<tr th:each="eatery : ${selectEateryBookmark}">
			<td th:text="${eatery.name}"></td>
			<td th:text="${eatery.categoryName}"></td>
			<td th:each=" area : ${T(com.eat.vo.Area).values()}" th:if="${#strings.toString(eatery.area)}==${#strings.toString(area.name())}" th:text="${area.getKrName}"></td>
			<td th:text="${eatery.address}"></td>
			<td th:text="${eatery.phoneNumber}"></td>
			<td th:text="${eatery.content}"></td>
		</tr>
	</table>
	</div>
	</div>
	
	<div id="recipeContent">
		<h1>RecipeBookmark List</h1>
<div class="recipe">
		<table border="1">
		<thead>
		<tr>
			<th>이미지</th>
			<th>레시피이름</th>
			<th>재료</th>
			<th>추천수</th>
		</tr>
		</thead>

		<tr th:each="recipe : ${selectRecipeBookmark}">
			<td th:text="${recipe.thumb}"></td>
			<td th:text="${recipe.name}"></td>
			<td th:text="${recipe.ingredient}"></td>
			<td th:text="${recipe.recommend}"></td>
		</tr>
	</table>
	</div>
	</div>
    </div>
    
</th:block>

</html>