<!DOCTYPE html>
<html xmlns : th ="http://www.thymeLeaf.org">
	<head>
	<meta charset="UTF-8">
	<title>아이디찾기</title>
	</head>
	<body>
	<h3>아이디찾기</h3>
	
	<form action ="findid" method="selectAll">
	<div>
	<label for ="userName">이름</label> 
	<input id ="userName" name="userName" type="text">
	</div>
	<div>
	<label for ="phoneNumber">전화번호</label> 
	<input id ="phoneNumber" name="phoneNumber" type="text">
	</div>
	<div>
	<label for ="userPw">인증번호</label> 
	<input id ="userPw" name="userPw" type="text">
	</div>
	<input type="submit" value="아이디찾기">
	</form>
	</body>
</html>