<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{fragments/layout}">
<meta charset="UTF-8">

<th:block layout:fragment="content">
	<div class="container">

		<title>아이디찾기</title>
		
			<h3>아이디찾기</h3>

			<form action="findId" method="post">
				<div>
					<label>이름</label> <input for="userName" id="userName"
						name="userName" type="text">
				</div>
				<div>
					<label>전화번호</label> <input for="phoneNumber" id="phoneNumber"
						name="phoneNumber" type="text">
				</div>
				<input type="submit" value="아이디찾기">
			</form>

			<label>아이디</label>
			<input th:each="member : ${findId}" th:value="${member.userId}"
				type="text" readonly>
	</div>
</th:block>

</html>