<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{fragments/layout}">
<meta charset="UTF-8">
<title>비밀번호찾기</title>

<th:block layout:fragment="content">
    <div class="container">

	<h3>비밀번호찾기</h3>

	<form action="findPw" method="post">
		<div>
			<label>이름</label> <input for="userName" id="userName" name="userName"
				type="text">
		</div>

		<div>
			<label>아이디</label> <input for="userId" id="userId" name="userId"
				type="text">
		</div>

		<div>
			<label>전화번호</label> <input for="phoneNumber" id="phoneNumber"
				name="phoneNumber" type="text">
		</div>
		<input type="submit" value="비밀번호찾기">
	</form>

	<label>비밀번호</label>
	<input th:each="member : ${findPw}" th:value="${member.userPw}"
		type="text" readonly>

    </div>
</th:block>
</html>