<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{fragments/layout}">

<th:block layout:fragment="content">
<div class="container" align="center">
    <div class="page-header">
        <p/>
        <h3>뭐먹지 테스트 페이지</h3>
    </div>

        <h5>회원 기능</h5>
        <p>
            <a class="btn btn-primary" href="/members/new">회원 가입</a>
            <a class="btn btn-primary" href="/member">회원 목록</a>
            <a class="btn btn-primary" href="/category">카테고리 관리</a>
        </p>
         <h5>식단 기능</h5>
        <p>
            <a class="btn btn-primary" href="/diet">식단 메인</a>
            <a class="btn btn-primary" href="/items/new">식단 등록</a>
            <a class="btn btn-primary" href="/dietList">식단 목록</a>
        </p>
         <h5>맛집 기능</h5>
        <p>
            <a class="btn btn-primary" href="/eatery">맛집 등록</a>
            <a class="btn btn-primary" href="/detail">맛집 목록</a>
            <a class="btn btn-primary" href="/menu">메뉴 등록</a>
            <a class="btn btn-primary" href="/menuList">메뉴 목록</a>
        </p>
            <h5>레시피 기능</h5>
        <p>
            <a class="btn btn-primary" href="/recipe/new">레시피 등록</a>
            <a class="btn btn-primary" href="/recipeList">레시피 목록</a>
        </p>
</div><!-- /container -->

</th:block>
</html>