<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{fragments/layout}">

<th:block layout:fragment="content">
<div class="container" align="center">
    <div class="page-header">
        <p/>
        <h3>뭐먹지 테스트 페이지</h3>
    </div>

        <h5>회원 기능</h5>
        <p>
            <a class="btn btn-primary" href="/register">회원 가입</a>
            <a class="btn btn-primary" href="/Login">로그인</a>
            <a class="btn btn-primary" href="/memberList">회원 목록</a>
            <a class="btn btn-primary" href="/adminEateryList">음식점 목록</a>
            <a class="btn btn-primary" href="/adminRecipeList">게시판 목록</a>
            <a class="btn btn-primary" href="/mypage">마이페이지</a>
        </p>
         <h5>식단 기능</h5>
        <p>
            <a class="btn btn-primary" href="/suggestion/dietMain">식단 메인</a>
            <a class="btn btn-primary" href="/suggestion/dietList">식단 목록</a>
            <a class="btn btn-primary" href="/suggestion/randomList">랜덤 추천</a>
            <a class="btn btn-primary" href="/suggestion/ladder">사다리타기</a>
        </p>
         <h5>맛집 기능</h5>
        <p>
        	<a class="btn btn-primary" href="/eateryMain">맛집 메인</a>
            <a class="btn btn-primary" href="/insert">맛집 등록</a>
            <a class="btn btn-primary" href="/detail">맛집 상세</a>
            <a class="btn btn-primary" href="/menuEatery">메뉴별 맛집</a>
            <a class="btn btn-primary" href="/areaEatery">지역별 맛집</a>
        </p>
            <h5>레시피 기능</h5>
        <p>
            <a class="btn btn-primary" href="/recipe/new">레시피 등록</a>
            <a class="btn btn-primary" href="/recipeList">레시피 목록</a>
        </p>
</div><!-- /container -->

</th:block>
</html>