<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>맛집등록 페이지</title>

</head>
<body>
	<h3>맛집 등록</h3>

	<form action="insertEatery" method="post">
    <table with=1000 border="1" cellpadding=5>
   
   <tr>
   <td colspan="2">
   <div style="text-align:center;">
   <input type="button" value="이미지">
   </div>
   </td>
   
		</tr>
			<tr>
				<th>음식점 이름</th> 
				<td> <input type="text" name="name"></td> 
				</tr>
				
				<tr>
				<th>지역</th>
				<td>
				<select for="area" th:name="area">
					<option th:each=" area : ${T(com.eat.vo.Area).values()}" th:text="${area.getKrName()}" th:value="${area.name()}"/>
				</select> <br> 
				</td>
				</tr>
				
				<tr>
				<th>메뉴 카테고리</th>
				<td>
				<select for="categoryId" th:name="categoryId">
					<option th:each="category,index : ${categoryList}" th:if="${category.id==index.count}" th:text="${category.name}" id="categoryId" th:value="${category.id}"/>
				</select> <br>
				</td>
				</tr>
				
				<tr>
				<th>음식점 설명</th>
				<td>
				<textarea name="content" style="width:100px; height:300px;"></textarea>
			    </td>
				</tr>

<td>

		<input type="subit" value="등록">
		<input type="reset" value="취소">
</td>
	</form>
</table>
</body>
</html>