<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>맛집등록 페이지</title>

</head>
<body>
	<h3>맛집 등록</h3>

	<form action="/insert" method="selectAll">

		<button>이미지</button>
		<br>

		<h3>
			음식점 이름 <input type="text" name="eateryName" size="10" value=""
				maxlength="7"> <br> 지역 <select name="Area">
				<option value="">선택</option>
				<option value="인천">인천</option>
				<option value="강북">강북</option>
				<option value="강남">강남</option>
				<option value="경남">경남</option>
				<option value="강원">강원</option>
				<option value="충청">충청</option>
				<option value="대전">대전</option>
				<option value="전라">전라</option>
				<option value="광주">광주</option>
				<option value="대구">대구</option>
				<option value="울산">울산</option>
				<option value="부산">부산</option>
				<option value="경상">경상</option>
			</select> <br> 메뉴카테고리 <select name="Menu">
				<option value="">선택</option>
				<option value="한식">한식</option>
				<option value="양식">양식</option>
				<option value="일식">일식</option>
				<option value="중식">중식</option>
				<option value="패스트푸드">패스트푸드</option>
				<option value="베이커리">베이커리</option>
				<option value="퓨전푸드">퓨전푸드</option>
				<option value="뷔페">뷔페</option>
				<option value="카페/주점">카페/주점</option>
			</select> <br> 음식점 설명 <input type="text" name="eateryContent" size="10"
				value="" maxlength="7"> <br>
		</h3>

		<input type="submit" value="등록" />
		<button>취소</button>

	</form>
</body>
</html>