<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script>

// 수정, 확인 버튼
	function btn(test){
		var check = $("[name='update']").val();
		var update = document.getElementById(test.getAttribute('id')).getAttribute('id') ;
		var updateok = Number(update)+10;
	
		if(check=="수정"){
			document.getElementById(update+"").style.display = "none";
			document.getElementById(updateok+"").style.display = "block";
			var inputName = "#name"+update;
			var inputPhone = "#phoneNumber"+update;
			var inputGarde = "#grade"+update;
			$(inputName).attr('readonly', false);
			$(inputPhone).attr('readonly', false);
			$(inputGarde).attr('readonly', false);
		}
	}
	
	// 이름, 전화번호, 등급 수정
	function btn2(test){
		var check = $("[name='updateok']").val();
		var updateok = document.getElementById(test.getAttribute('id')).getAttribute('id') ;
		var update = Number(updateok)-10;
	
		if(check=="확인"){
			var inputName = "#name"+update;
			var inputPhone = "#phoneNumber"+update;
			var inputGarde = "#grade"+update;
			$(inputName).attr('readonly', true);
			$(inputPhone).attr('readonly', true);
			$(inputGarde).attr('readonly', true);
			
			var checkBtn = $("input[id="+updateok+"]");
				
			var tr = checkBtn.parent().parent();
			var td = tr.children();
			
			var id = td.eq(0).find('input').val();
			var userid = td.eq(1).text();
			var userpw = td.eq(2).text();
			var name = td.eq(3).find('input').val();
			var phone = td.eq(4).find('input').val();
			var grade = td.eq(5).find('input').val();
							
			$('input[id=id]').val(id);
			$('input[id=userId]').val(userid);
			$('input[id=userPw]').val(userpw);
			$('input[id=userName]').val(name);
			$('input[id=phoneNumber]').val(phone);
			$('input[id=grade]').val(grade);
			$("#updateMemberList").attr("action","updateMemberList");
			$("#updateMemberList").submit();
			
			document.getElementById(updateok+"").style.display = "none";
			document.getElementById(update+"").style.display = "block";
		}
	}


	// 체크박스
	$(document).ready(function() {
		$("#submitForm").on("click", function() {
			var param = new Array;
			$(".chkclass:checked").each(function() {
				param.push($("#id").val())
			});
			$("#form").attr("action", "deletecheck");
			$("#form").submit();
		});
	});

	$(function() {
		var chkObj = document.getElementsByName("id");
		var rawCnt = chkObj.length;

		$("input[name='allCheck']").click(function() {
			var chk_listArr = $("input[name='id']");
			for (var i = 0; i < chk_listArr.length; i++) {
				chk_listArr[i].checked = this.checked;
			}
		});
		$("input[name='id']").click(function() {
			if ($("input[name='id']:checked").length == rowCnt) {
				$("input[name='allCheck']")[0].checked = true;
			} else {
				$("input[name='allCheck']")[0].checked = false;
			}
		});
	});

	var checkRows = $("[name='allCheck']:checked");
	for (var i = checkRows.length - 1; i > -1; i--) {
		checkRows.eq(i).closest('tr').remove();
	}

</script>
</head>
<body>

	<h1>회원 목록</h1>

	<div>
		<form id=form action="memberList" method="post">
			<table border="1">
				<thead>
					<tr>
						<th scope="col"><input id="allcheck" type="checkbox" name="allCheck"></th>
						<th>사용자아이디</th>
						<th>비밀번호</th>
						<th>이름</th>
						<th>전화번호</th>
						<th>등급</th>
						<th></th>
					</tr>
				</thead>

				<tr th:each="member, index : ${selectAll}">
				
					<!-- 체크박스 -->
					<td class="header" width="30">
						<div class="chkclass">
							<input name="id" type="checkbox" id="id" class="id" th:value="${member.id}">
						</div>
					</td>
					
					<!-- 사용자아이디, 비밀번호 -->
					<td name="userId" th:text="${member.userId}" th:value="${member.userId}"></td>
					<td name="userPw" th:text="${member.userPw}" th:value="${member.userPw}"></td>


					<!-- 이름, 전화번호, 등급 수정 -->
					<td>
						<input type="text" th:id="name+${index.count}" class="name" name="name" th:value="${member.userName}" readonly>
					</td>
					<td>
						<input type="text" th:id="phoneNumber+${index.count}" class="phoneNumber" name="phoneNumber" th:value="${member.phoneNumber}" readonly>
					</td>
					<td>
						<input type="text" th:id="grade+${index.count}" class="grade" name="grade" th:value="${member.grade}" readonly>
					</td>
					
					<!-- 수정, 확인 버튼 -->
					<td>
						<input type="button" th:id="${index.count}" name="update" onclick="btn(this)" value="수정"/>
						<input type="button" th:id="${index.count}+10" name="updateok" onclick="btn2(this)" style="display: none;" value="확인" />
					</td>
				</tr>
			</table>
			<button id="submitForm">삭제</button>
		</form>
		<form method="post" id="updateMemberList">
			<input type="hidden" id="id" name="id">
			<input type="hidden" id="userId" name="userId">
			<input type="hidden" id="userPw" name="userPw">
			<input type="hidden" id="userName" name="userName">
			<input type="hidden" id="phoneNumber" name="phoneNumber">
			<input type="hidden" id="grade" name="grade">
		</form>
	
	</div>
</body>

</html>