<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{fragments/layout}">
<meta charset="UTF-8">
<title>Insert title here</title>


<th:block layout:fragment="content">
	<div class="container">
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/memberList.css"/>
<script type="text/javascript" src="/js/memberList.js"></script>

	<h1>회원 목록</h1>

	<div class="member">
		<form id=form action="memberList" method="post">
			<table border="1">
				<thead>
					<tr>
						<th scope="col"><input id="allcheck" type="checkbox" name="allCheck"></th>
						<th>사용자아이디</th>
						<th>비밀번호</th>
						<th>이름</th>
						<th>전화번호</th>
						<th>등급</th>
						<th></th>
					</tr>
				</thead>

				<tr th:each="member, index : ${selectAll}">
				
					<!-- 체크박스 -->
					<td class="header" width="30">
						<div class="chkclass">
							<input name="id" type="checkbox" id="id" class="id" th:value="${member.id}">
						</div>
					</td>
					
					<!-- 사용자아이디, 비밀번호 -->
					<td name="userId" th:text="${member.userId}" th:value="${member.userId}"></td>
					<td name="userPw" th:text="${member.userPw}" th:value="${member.userPw}"></td>


					<!-- 이름, 전화번호, 등급 수정 -->
					<td>
						<input type="text" th:id="name+${index.count}" class="name" name="name" th:value="${member.userName}" readonly>
					</td>
					<td>
						<input type="text" th:id="phoneNumber+${index.count}" class="phoneNumber" name="phoneNumber" th:value="${member.phoneNumber}" readonly>
					</td>
					<td>
						<input type="text" th:id="grade+${index.count}" class="grade" name="grade" th:value="${member.grade}" readonly>
					</td>
					
					<!-- 수정, 확인 버튼 -->
					<td>
						<input type="button" th:id="${index.count}" name="update" onclick="btn(this)" value="수정"/>
						<input type="button" th:id="${index.count}+10" name="updateok" onclick="btn2(this)" style="display: none;" value="확인" />
					</td>
				</tr>
			</table>
			<div class="button">
			<button id="submitForm">삭제</button>
		</form>
		<form method="post" id="updateMemberList">
			<input type="hidden" id="id" name="id">
			<input type="hidden" id="userId" name="userId">
			<input type="hidden" id="userPw" name="userPw">
			<input type="hidden" id="userName" name="userName">
			<input type="hidden" id="phoneNumber" name="phoneNumber">
			<input type="hidden" id="grade" name="grade">
		</form>
	
	</div>
    </div>
    </div>
</th:block>

</html>