<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>메뉴별 맛집 페이지</title>
</head>
<body>

	<h3>메뉴</h3>
	<form action="menuEatery" method="post" id="selectCategoryName">
		<table border="1">
			<tr>
				<th colspan="3">메뉴</th>
			</tr>
			<tr>
				<td><input type="submit" name="categoryName" value="한식"></td>
				<td><input type="submit" name="categoryName" value="중식"></td>
				<td><input type="submit" name="categoryName" value="일식"></td>
			</tr>
			<tr>
				<td><input type="submit" name="categoryName" value="양식"></td>
				<td><input type="submit" name="categoryName" value="분식"></td>
				<td><input type="submit" name="categoryName" value="패스트푸드"></td>
			</tr>
			<tr>
				<td><input type="submit" name="categoryName" value="베이커리"></td>
				<td><input type="submit" name="categoryName" value="치킨"></td>
				<td><input type="submit" name="categoryName" value="기타"></td>
			</tr>
		</table>
	</form>
	<br>
	<table border="1">
		<thead>
			<h3>메뉴별 인기 맛집</h3>
			<th>음식점 이름</th>
			<th>카테고리</th>
			<th>지역</th>
			<th>추천수</th>
		</thead>
		
		<tr th:each="eatery : ${selectRecommend}">
			<td th:text="${eatery.name}"></td>
			<td th:text="${eatery.categoryName}"></td>
			<td th:each=" area : ${T(com.eat.vo.Area).values()}"
				th:if="${#strings.toString(eatery.area)}==${#strings.toString(area.name())}"
				th:text="${area.getKrName}"></td>
			<td th:text="${eatery.recommend}"></td>
		</tr>
		<tr th:each="eatery : ${selectRecommendCategory}">
			<td th:text="${eatery.name}"></td>
			<td th:text="${eatery.categoryName}"></td>
			<td th:each=" area : ${T(com.eat.vo.Area).values()}"
				th:if="${#strings.toString(eatery.area)}==${#strings.toString(area.name())}"
				th:text="${area.getKrName}"></td>
			<td th:text="${eatery.recommend}"></td>
		</tr>

	</table>
	<br>
	<table border="1">
		<thead>
			<h3>메뉴별 맛집</h3>
			<th>음식점 이름</th>
			<th>카테고리</th>
			<th>지역</th>
			<th>추천수</th>
		</thead>

		<tr th:each="eatery : ${selectAll}">
			<td th:text="${eatery.name}"></td>
			<td th:text="${eatery.categoryName}"></td>
			<td th:each=" area : ${T(com.eat.vo.Area).values()}"
				th:if="${#strings.toString(eatery.area)}==${#strings.toString(area.name())}"
				th:text="${area.getKrName}"></td>
			<td th:text="${eatery.recommend}"></td>
		</tr>
		<tr th:each="eatery : ${selectCategoryName}">
			<td th:text="${eatery.name}"></td>
			<td th:text="${eatery.categoryName}"></td>
			<td th:each=" area : ${T(com.eat.vo.Area).values()}"
				th:if="${#strings.toString(eatery.area)}==${#strings.toString(area.name())}"
				th:text="${area.getKrName}"></td>
			<td th:text="${eatery.recommend}"></td>
		</tr>
	</table>
</body>
</html>