<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>메뉴별 맛집 페이지</title>

</head>

<body>

	<h3>메뉴별 맛집</h3>

	<table border="1">
		<tr>
			<th colspan="3">메뉴</th>
		</tr>
		<tr>
			<td onclick="location.href='#'">한식</td>
			<td onclick="location.href='#'">중식</td>
			<td onclick="location.href='#'">일식</td>
		</tr>
		<tr>
			<td onclick="location.href='#'">양식</td>
			<td onclick="location.href='#'">분식</td>
			<td onclick="location.href='#'">패스트푸드</td>
		</tr>
		<tr>
			<td onclick="location.href='#'">베이커리</td>
			<td onclick="location.href='#'">치킨</td>
			<td onclick="location.href='#'">기타</td>
		</tr>
	</table>
	<br>
	<table border="1">
		<thead>
			<th>음식점 이름</th>
			<th>지역</th>
		</thead>

		<tr th:each="eatery : ${selectName }">
			<td th:text="${eatery.name}"></td>
			<td th:each=" area : ${T(com.eat.vo.Area).values()}"
				th:if="${#strings.toString(eatery.area)}==${#strings.toString(area.name())}"
				th:text="${area.getKrName}"></td>
		</tr>

	</table>
</body>
</html>