<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{fragments/layout}">

<th:block layout:fragment="content">
    <div class="container">
        <form role="form" action ="favorite" th:object="${form}" method="post">

            <div class="img-container">
                <div id="downLoad-img">
                    <img th:src="*{thumb}"
                         style="margin-left: auto; margin-right: auto; display: block;"
                         id="preview-image"
                    width="700" height="450">
                </div>
            </div>

            <div class="form-group">
                <label th:for="name" class="form-label mt-4">이름</label>
                <input th:value="*{name}" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label th:for="ingredient" class="form-label mt-4">요리재료</label>
                <input type="text" th:value="*{ingredient}" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label th:for="people" class="form-label mt-4">요리인원</label>
                <input type="text" th:value="*{people}" class="form-control" disabled />
            </div>

            <div class="form-group">
                <lable th:for="originTag" class="form-label mt-r">태그</lable>
                <input type="text" th:value="*{originTag}" class="form-control" disabled />
            </div>

            <div class="form-group">
                <lable th:for="recipeTag" class="form-label mt-r">레시피</lable>
                <input type="text" th:value="*{content}" class="form-control" style="height: 300px;" disabled />
            </div>

            <br/><br/>
            <a href="/recipeList">
                <button type="button" id="goList" class="btn btn-secondary" style="float: left"> 리스트로</button>
            </a>
            <input type="submit" id="bookmark" class="btn btn-secondary" style="float: right" th:value="${bookMark}">

        </form>

        <br/><br/><br/>

    </div>
</th:block>
</html>