<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
  <title>레시피</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="../../bootstrap/css/bootstrap.css">
</head>

<body>
<div class="container">
  <h1>TEST</h1>
  <p class="menu">Recipe</p>
  <p>
    <a href="/recipe/new"><button type="submit" class="btn-outline-info">레시피 작성</button></a>
    <a href="/recipeList"><button type="submit" class="btn-outline-info">레시피 목록</button></a>
  </p>
</div>
</body>

</html>