<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
<title>레시피</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/bootstrap.css">
<script type="text/javascript" src="/js/recipeTag.js"></script>
</head>

<body>

<div class="container">
  <div>
    <div>
      <form th:object="${recipeSearch}" class="form-inline">
        <div class="form-group mb-2">
          <input type="text" th:field="*{searchName}" class="form-control" placeholder="회원명"/>
        </div>
        <div class="form-group mx-sm-1 mb-2">
          <select th:field="*{status}" class="form-control">
            <option value="">검색 종류</option>
            <option th:each="status : ${T(com.eat.vo.SearchStatus).values()}"
                    th:value="${status}"
                    th:text="${status}">option
            </option>
          </select>
        </div>
        <button type="button" class="btn btn-check" onclick="location.href='index.html'">메인 화면</button>
        <button type="submit" class="btn btn-primary mb-2">검색</button>
      </form>
    </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>회원 아이디</th>
        <th>썸네일 주소</th>
        <th>요리이름</th>
        <th>재료 목록</th>
        <th>추천인원</th>
        <th>작성일자</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="recipe : ${recipeList}">
        <td th:text="${recipe.id}"></td>
        <td th:text="${recipe.memberId}"></td>
        <td th:text="${recipe.thumb}"></td>
        <td th:text="${recipe.name}"></td>
        <td th:text="${recipe.ingredient}"></td>
        <td th:text="${recipe.people}"></td>
        <td th:text="${recipe.createDate}"></td>
        <td>
          <a href="#" th:href="@{recipe/{id}/edit (id=${recipe.id})}" class="btn btn-info">수정</a>
        </td>
        <td>
          <a href="#" th:href="'javascript:cancel('+${recipe.id}+')'" class="btn btn-danger">삭제</a>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
</body>
</html>