<!DOCTYPE html>
<html xmlns : th ="http://www.thymeLeaf.org">
	<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	</head>
	<body>
	
	<table border = "1">
	<thead>
		<tr>
			<th>아이디</th>
			<th>비밀번호</th>
			<th>이름</th><
			<th>전화번호</th>
		</tr>
		</thead>
		
	    <tr th:each ="member : ${selectAll }">
		<tr>
			
			<td th:text="${member.userId}"></td>
			<td th:text="${member.userPw}"></td>
			<td th:text="${member.userName}"></td>
			<td th:text="${member.phoneNumber}"></td>
		</tr>
		
	</table>

	
	
	
	</body>
</html>