<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{fragments/layout}">
	<meta charset="UTF-8">
	<title>Insert title here</title>
	
	<th:block layout:fragment="content">
	<link rel="stylesheet" type="text/css" href="/css/update.css"/>
    <div class="container">
	
	<h3>개인정보수정</h3>

	<form action="update" method="post">
		
		<input name="userId" type="hidden" th:value="${session.userId}" readonly>
		<input name="userName" type="hidden" th:each="member : ${selectOne}" th:value="${member.userName}" readonly>
		
		<div class="password">
			<label for="password">비밀번호</label> <input id="userPw" name="userPw"
				type="password">
		</div>
		<div class="phoneNumber">
		
			<label for="phoneNumber">전화번호</label> <input id="phoneNumber" name="phoneNumber"
				type="text">
		</div>
		<div class="button">
		<input type="submit" value="수정하기"><input type="reset" value="취소하기">
	</form>
	
	    </div>
	    </div>
	    </body>
</th:block>
	
	
</html>