<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
#modalInsert, #modalUpdate, #modalDelete {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: relative;
}

#modalInsert h2, #modalUpdate h2, #modalDelete h2 {
	margin: 0;
}

#modalInsert button, #modalUpdate button, #modalDelete button {
	display: inline-block;
	width: 100px;
	margin-left: calc(100% - 100px - 10px);
}

#modalInsert .modal_content, #modalUpdate .modal_content, #modalDelete .modal_content {
	width: 500px;
	margin: 100px auto;
	padding: 20px 10px;
	background: #fff;
	border: 2px solid #666;
}

#modalInsert .modal_layer, #modalUpdate .modal_layer, #modalDelete .modal_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: -1;
}
</style>

</head>
<body>
	<h1>식단 리스트</h1>

	<!-- 테이블 시작 -->
	<div>
		<form action="selectDietList" method="Post" >
			<input for="date" type="date" id="date" name="date" value="date"/>
			<input for="date2" type="date" id="date2" name="date2" value="date2"/>
			<button type="submit" id="change">조회</button>
		</form>
		<table border="1">
			<thead>
				<tr>
					<th>번호</th>
					<th>날짜</th>
					<th>끼니</th>
					<th>카테고리</th>
					<th>메뉴</th>
				</tr>
			</thead>
			<tr th:each="suggestion, index : ${showDietList}">
				<td th:text="${index.count}"></td>
				<td th:text="${suggestion.date}" id="date"></td>
				<td th:each=" meal : ${T(com.eat.vo.Meal).values()}" th:if="${#strings.toString(suggestion.meal)}==${#strings.toString(meal.name())}" th:text="${meal.getKrName}"></td>
				<td th:text="${suggestion.categoryName}"></td>
				<td th:text="${suggestion.menu}"></td>
			</tr>
			<tr th:each="suggestion, index : ${selectDietList}">
				<td th:text="${index.count}"></td>
				<td th:text="${suggestion.date}" id="date"></td>
				<td th:each=" meal : ${T(com.eat.vo.Meal).values()}" th:if="${#strings.toString(suggestion.meal)}==${#strings.toString(meal.name())}" th:text="${meal.getKrName}"></td>
				<td th:text="${suggestion.categoryName}"></td>
				<td th:text="${suggestion.menu}"></td>
			</tr>
		</table>
		<!-- 테이블 종료 -->
		
		<!-- 테이블버튼 -->
		<button type="button" id="insertDietOpen" style="font-weight: 900;">등록</button>
		<button type="button" id="updateDietOpen" style="font-weight: 900;">수정</button>
		<button type="button" id="deleteDietOpen" style="font-weight: 900;">삭제</button>
		
		
	</div>



	<!-- insert modal 시작 -->
	<div id="modalInsert">
		<div class="modal_content">
				
			<h2>식단 등록</h2>
			<form action="/suggestion/insertDiet" method="post" autocomplete="off">
				<!-- 날짜 -->
				<label for="date">날짜</label><input id="date" name="date" type="date" value="#strings.toString(date)"> <br> 
				
				<!-- 끼니 -->
				<label>끼니</label>
				<select for="meal" th:name="meal">
					<option th:each=" meal : ${T(com.eat.vo.Meal).values()}" th:text="${meal.getKrName()}" th:value="${meal.name()}"/>
				</select> <br> 
				
				<!-- 카테고리 -->
				<label>카테고리</label> 
				<select for="categoryId" th:name="categoryId">
					<option th:each="category,index : ${categoryList}" th:if="${category.id==index.count}" th:text="${category.name}" id="categoryId" th:value="${category.id}"/>
				</select> <br> 
				
				<!-- 메뉴 -->
				<label for="menu">메 뉴</label><input id="menu" name="menu" type="text"><br>
								
				<!-- 버튼 -->
				<input type="submit"><input type="reset">
				<button type="button" id="insertModalClose">닫기 창</button>
			</form>
		</div>

		<div class="modal_layer"></div>
		
	</div>
	<!-- insert modal 종료 -->
	
	
	
	<!-- update modal 시작 -->
	<div id="modalUpdate">
		<div class="modal_content">
		
			<h2>식단 수정</h2>
			<form action="/suggestion/updateDiet" method="post">
				<!-- 날짜 -->
				<label for="date">날짜</label><input id="date" name="date" type="date" value="#strings.toString(date)"> <br> 
				
				<!-- 끼니 -->
				<label>끼니</label>
				<select for="meal" th:name="meal">
					<option th:each=" meal : ${T(com.eat.vo.Meal).values()}" th:text="${meal.getKrName()}" th:value="${meal.name()}"/>
				</select> <br> 
				
				<!-- 카테고리 -->
				<label>카테고리</label> 
				<select for="categoryId" th:name="categoryId">
					<option th:each="category,index : ${categoryList}" th:if="${category.id==index.count}" th:text="${category.name}" id="categoryId" th:value="${category.id}"/>
				</select> <br> 
				
				<!-- 메뉴 -->
				<label for="menu">메 뉴</label><input id="menu" name="menu" type="text"><br>
				
				
				<!-- 버튼 -->
				<input type="submit"><input type="reset">
				<button type="button" id="updateModalClose">닫기 창</button>
				
				
			</form>
			
			<div class="modal_layer"></div>
			
		</div>
	</div>
	<!-- update modal 종료 -->
	
	
	
	<!-- delete modal 시작 -->
	<div id="modalDelete">
		<div class="modal_content">
		
			<h2>식단 삭제</h2>
			<form action="/suggestion/deleteDiet" method="post">
				<!-- 날짜 -->
				<label for="date">날짜</label><input id="date" name="date" type="date" value="#strings.toString(date)"> <br> 
				
				<!-- 끼니 -->
				<label>끼니</label>
				<select for="meal" th:name="meal">
					<option th:each=" meal : ${T(com.eat.vo.Meal).values()}" th:text="${meal.getKrName()}" th:value="${meal.name()}"/>
				</select> <br> 
				
				<!-- 버튼 -->
				<input type="submit"><input type="reset">
				<button type="button" id="deleteModalClose">닫기 창</button>
				
			</form>
			<div class="modal_layer"></div>
		</div>
	</div>
	<!-- delete modal 종료 -->



	<!-- 스크립트 -->
	<script type="text/javascript">

		document.getElementById("insertDietOpen").onclick = function() {
			document.getElementById("modalInsert").style.display = "block";
		}
		document.getElementById("insertModalClose").onclick = function() {
			document.getElementById("modalInsert").style.display = "none";
		}
		
		document.getElementById("updateDietOpen").onclick = function() {
			document.getElementById("modalUpdate").style.display = "block";
		}
		document.getElementById("updateModalClose").onclick = function() {
			document.getElementById("modalUpdate").style.display = "none";
		}
		
		document.getElementById("deleteDietOpen").onclick = function() {
			document.getElementById("modalDelete").style.display = "block";
		}
		document.getElementById("deleteModalClose").onclick = function() {
			document.getElementById("modalDelete").style.display = "none";
		}
		
	</script>


</body>

</html>