<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>test</title>
  </head>
  <body>
	<h1>test</h1>
	hello<br>
	<table>
		<thead>
			<tr>
				<th>번호</th>
				<th>날짜</th>
				<th>끼니</th>
				<th>카테고리</th>
				<th>메뉴</th>
			</tr>
		</thead>
		<tr th:each="suggestion, index : ${showDietList}">
				<td th:text="${index.count}"></td>
				<td th:text="${suggestion.date}" id="date"></td>
				<td th:each=" meal : ${T(com.eat.vo.Meal).values()}" th:if="${#strings.toString(suggestion.meal)}==${#strings.toString(meal.name())}" th:text="${meal.getKrName}"></td>
				<td th:text="${suggestion.categoryName}"></td>
				<td th:text="${suggestion.menu}"></td>
			</tr>
	</table>
  </body>
</html>