<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-
ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T">
<link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
	<h1>랜덤 추천</h1>

	<!-- 음식점 테이블 시작 -->
	<div>
		<div onClick="location.href='#'">
		<table border="1">
			<thead>
				<tr>
					<th>상호명</th>
					<th>카테고리</th>
					<th>전화번호</th>
				</tr>
			</thead>
			<tr th:each="eatery : ${showEatery}">
				<td th:text="${eatery.name}"></td>
				<td th:text="${eatery.categoryName}"></td>
				<td th:text="${eatery.phoneNumber}"></td>
			</tr>
		</table>
		</div>
		<!-- 음식점 테이블 종료 -->
		
		
		
		<!-- 레시피 테이블 시작 -->
		<div onClick="location.href='#'">
		<table border="1" >
			<thead>
				<tr>
					<th>요리이름</th>
					<th>카테고리</th>
					<th>재료</th>
				</tr>
			</thead>
			<tr th:each="recipe : ${showRecipe}">
				<td th:text="${recipe.name}"></td>
				<td th:text="${recipe.categoryName}"></td>
				<td th:text="${recipe.ingredient}"></td>
			</tr>
		</table>
		</div>
		<!-- 레시피 테이블 종료 -->
	
	
		<!-- 테이블버튼 -->
		<button type="button" id="reset" style="font-weight: 900" onClick="location.href='/suggestion/randomList'">한 번 더!</button>
		
	</div>


</body>

</html>