<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eat.dao.CategoryDAO">

    <insert id="insertCategory" parameterType="com.eat.vo.CategoryVO" >
        insert into category(id, name)
        values(#{id}, #{name})
    </insert>

	<select id="categoryList" resultType="com.eat.vo.CategoryVO">
		select * from category
	</select>

    <select id="selectName" resultType="com.eat.vo.CategoryVO" parameterType="String">
        select * from category where name =#{name}
    </select>

    <select id="selectId" resultType="com.eat.vo.CategoryVO" parameterType="Long">
        select * from category where id =#{id}
    </select>

	<update id="updateCategory" parameterType="com.eat.vo.CategoryVO">
		UPDATE category SET name =#{name}
		WHERE id =#{id}
	</update>

    <delete id="deleteCategory" parameterType="Long">
        DELETE FROM category WHERE id =#{id}
    </delete>

</mapper>