<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.eat.dao.DietDAO">
	<insert id="insertDiet" parameterType="com.eat.vo.DietVO">
		insert into suggestion(meal, menu, date, memberId, categoryId)
		select #{meal}, #{menu}, #{date}, #{memberId}, #{categoryId} from dual
		where 1 > (select count(*) from suggestion
					where date = #{date} and meal=#{meal})
	</insert>
	
	<select id="showDietList" resultType="com.eat.vo.DietVO" parameterType="Long">
        select s.*,  c.name as "categoryName" from suggestion as s 
        right join category as c on s.categoryId = c.id 
        where c.id = s.categoryId and memberId = #{memberId} ORDER BY date
    </select>
    

	<select id="selectDietList" parameterType="com.eat.vo.DietVO" resultType="com.eat.vo.DietVO">
		select s.*,  c.name as "categoryName" from suggestion as s 
        right join category as c on s.categoryId = c.id 
        where c.id = s.categoryId and date(date) between #{date} and #{date2} and memberId=#{memberId} ORDER BY date
	</select>

	<update id="updateDiet" parameterType="com.eat.vo.DietVO">
		UPDATE suggestion SET meal =#{meal}, menu =#{menu}, categoryId=#{categoryId}
		WHERE date = #{date} and meal=#{meal} and memberId = #{memberId}
	</update>
    
    <delete id="deleteDiet" parameterType="com.eat.vo.DietVO">
        DELETE FROM suggestion WHERE date =#{date} and meal=#{meal} and memberId = #{memberId}
    </delete>

	
</mapper>