<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eat.dao.EateryMenuDAO">

    <insert id="insertEateryMenu" parameterType="com.eat.vo.EateryMenuVO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO eatery_menu(img, content, price, name)
        VALUES(#{img}, #{content}, #{price}, #{name}, #{eateryId})
    </insert>

    <select id="selectEateryMenu" resultType="EateryMenuVO">
        SELECT * FROM eatery_menu WHERE eateryId = #{eateryId}
    </select>

    <update id="updateEateryMenu" parameterType="com.eat.vo.EateryMenuVO">
        UPDATE recipe_content SET img = #{img}, content = #{content}, price = #{price}, name = #{name}
        WHERE id =#{id}
    </update>

    <delete id="deleteEateryMenu" parameterType="Long">
        DELETE FROM eatery_menu WHERE id =#{id}
    </delete>

</mapper>