<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eat.dao.RecipeDAO">

    <insert id="insertRecipe" parameterType="com.eat.vo.RecipeVO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into recipe(name, thumb, ingredient, people, recommend, createDate, memberId)
        values(#{name}, #{thumb},#{ingredient},#{people},#{recommend},#{createDate}, #{memberId})
    </insert>

    <select id="selectOne" parameterType="Long" resultType="com.eat.vo.RecipeVO">
    SELECT * FROM recipe WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="RecipeVO">
        SELECT * FROM recipe
    </select>

    <select id="selectName" parameterType="String" resultType="com.eat.vo.RecipeVO">
        SELECT * FROM recipe WHERE name like CONCAT('%',#{name},'%')
    </select>

    <select id="selectIngredient" parameterType="String" resultType="com.eat.vo.RecipeVO">
        SELECT * FROM recipe WHERE ingredient like CONCAT('%',#{ingredient},'%')
    </select>

    <select id="selectMemberId" parameterType="Long" resultType="com.eat.vo.RecipeVO">
        SELECT * FROM recipe WHERE memberid = #{memberId}
    </select>

    <select id="selectBookmark" parameterType="Long" resultType="Long">
        select id from recipebookmark
        WHERE memberId =#{memberId} and recipeId = #{recipeId}
    </select>

    <select id="bookmarkCheck" parameterType="Long" resultType="com.eat.vo.RecipeVO">
        SELECT * FROM recipebookmark as rb
        right join recipe as r
        on
        r.id = rb.recipeId
        where rb.memberid = #{memberId} and rb.recipeid = #{recipeId}
    </select>

    <select id="recommendCheck" parameterType="Long" resultType="com.eat.vo.RecipeVO">
        SELECT * FROM reciperecommend as rr
         right join recipe as r
         on
         r.id = rr.recipeId
        where rr.memberid = #{memberId} and rr.recipeid = #{recipeId}
    </select>

<!--    좋아요는 추가 // 북마크 insert 필요-->
    <update id="addRecommend" parameterType="Long">
        UPDATE recipe SET recommend = recommend + 1
        WHERE id =#{id}
    </update>

    <update id="removeRecommend" parameterType="Long">
        UPDATE recipe SET recommend = recommend -1
        WHERE id = #{id}
    </update>

    <insert id="insertRecipeRecommend" parameterType="com.eat.vo.RecipeBookmarkVO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into reciperecommend(recipeId, memberId)
        values(#{recipeId}, #{memberId})
    </insert>

    <delete id="deleteRecipeRecommend" parameterType="Long">
        DELETE FROM reciperecommend WHERE memberId =#{memberId} and recipeId = #{recipeId}
    </delete>

    <insert id="insertRecipeBookmark" parameterType="com.eat.vo.RecipeBookmarkVO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into recipebookmark(recipeId, memberId)
        values(#{recipeId}, #{memberId})
    </insert>

    <delete id="deleteRecipeBookmark" parameterType="Long">
        DELETE FROM recipebookmark WHERE memberId =#{memberId} and recipeId = #{recipeId}
    </delete>


    <update id="updateRecipe" parameterType="com.eat.vo.RecipeVO">
        UPDATE recipe SET name =#{name}, thumb =#{thumb}, ingredient=#{ingredient}, people=#{people},modifydate=now()
        WHERE id =#{id}
    </update>

    <delete id="deleteRecipe" parameterType="Long">
        DELETE FROM recipe WHERE id =#{id}
    </delete>
    


</mapper>