<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eat.dao.RecipeContentDAO">

    <insert id="insertRecipeContent" parameterType="com.eat.vo.RecipeContentVO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO recipe_content(img, content, turn, recipeId)
        VALUES(#{img}, #{content}, #{turn}, #{recipeId})
    </insert>

    <select id="selectOne" parameterType="map" resultType="com.eat.vo.RecipeContentVO">
        SELECT * FROM recipe_content WHERE recipeId = #{recipeId} and turn =#{turn}
    </select>

    <select id="selectByRecipe" resultType="RecipeContentVO">
        SELECT * FROM recipe_content WHERE recipeId = #{recipeId}
    </select>

    <update id="updateRecipeContent" parameterType="com.eat.vo.RecipeContentVO">
        UPDATE recipe_content SET img = #{img}, content = #{content}, turn = #{turn}
        WHERE id =#{id}
    </update>

    <delete id="deleteByRecipe" parameterType="map">
        DELETE FROM recipe_content WHERE recipeId = #{recipeId} AND turn =#{turn}
    </delete>

    <delete id="deleteRecipeContent" parameterType="Long">
        DELETE FROM recipe_content WHERE id =#{id}
    </delete>

</mapper>