<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 부트스트랩 헤더-->
<th:block th:replace="/fragments/header :: header"></th:block>

<body id="page-top">
<!--        공통메뉴바-->
        <th:block th:replace="/fragments/topbar :: topbar"></th:block>

<!--        각자페이지부분-->
        <th:block layout:fragment="content"></th:block>
    </div>

<!--    공통푸터-->
    <th:block th:replace="/fragments/footer" :: footer></th:block>

<!--공통스크립트-->
<th:block th:replace="/fragments/script" :: script></th:block>
</body>

</html>